<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Course Details</title>
</head>
<body>
  
  <main>
    <h1>Course Details Page</h1>
<nav>
  <ul>
    <li><a href="/courses/new">ADD COURSE</a></li>
    <li><a href="/courses">ALL COURSES</a></li>
    <li><a href="/locations/new">ADD LOCATION</a></li>
    <li><a href="/logout">Log Out</a></li>
    <li><a href="/auth/google">Log In With Google</a></li>
  </ul>
</nav>

<section id="show-page">
    <div>Course Title: </div>
    <div><%= course.title %></div>
    <div>Day of the Week: </div>
    <div><%= course.dayOfWeek %></div>
    <div>Number of Weeks: </div>
    <div><%= course.noOfWeeks %></div>
    <div>Course Number: </div>
    <div><%= course.courseNo %></div>
    <div>Start Date: </div>
    <div><%= course.startDate %></div>
  </section>
  <a href="/courses/edit/<%= course._id %>">Edit Course</a>

<%- include('../partials/footer') %>