<%- include('../partials/header') %>

<section id="show-page">
    <div>Course Title: </div>
    <div><%= course.title %></div>
    <div>Day of the Week: </div>
    <div><%= course.dayOfWeek %></div>
    <div>Number of Weeks: </div>
    <div><%= course.noOfWeeks %></div>
    <div>Course Number: </div>
    <div><%= course.courseNo %></div>
    <div>Start Date: </div>
    <div><%= course.startDate %></div>
  </section>
  <a href="/courses/edit/<%= course._id %>">Edit Course</a>

<%- include('../partials/footer') %>